# dependencies
/node_modules

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem
.idea/
.next-dev.log

# debug
bun-debug.log*

# lockfiles from other package managers
package-lock.json
yarn.lock
pnpm-lock.yaml

# env files
.env*
!.env.example

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
